<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8">
		<title>Marcos Quinteros</title>
		
	</head>
	
	<body>
	
		<h1>Menu Calculadora</h1>
		
		<h2>Seleccione la Operacion</h2>
	
	    <ul>
	        <li><a href="calculoSuma?num1=70&num2=3">Sumar</a></li>
	        <li><a href="calculoResta?num1=70&num2=3">Restar</a></li>
	        <li><a href="calculoDivision?num1=70&num2=3">Dividir</a></li>
	        <li><a href="calculoMulti?num1=70&num2=3">Multiplicar</a></li>
	        <li><a href="calculoPotencia?num1=70&num2=3">Potencia</a></li>
	        <li><a href="calculoRaiz?num1=70&num2=3">Raiz</a></li>
	    </ul>
	    
	</body>

</html>