<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Marcos Quinteros</title>
	</head>
	
	<body>
	
		<h1>Resultado</h1>
		<h2>El resultado de la suma es: <span th:text ="$(resultadoS)"></span></h2>
		<h2>El resultado de la resta es: <span th:text ="$(resultadoR)"></span></h2>
		<h2>El resultado de la multipliacion es: <span th:text ="$(resultadoM)"></span></h2>
		<h2>El resultado de la division es: <span th:text ="$(resultadoD)"></span></h2>
		<h2>El resultado de la potencia es: <span th:text ="$(resultadoP)"></span></h2>
		<h2>El resultado de la raiz es: <span th:text ="$(resultadoRA)"></span></h2>
		<a href="menu">Volver al Menu</a>
	</body>
	
</html>